@use '@angular/material' as mat;

@include mat.core();

$primary: mat.define-palette(mat.$green-palette, 800);
$accent: mat.define-palette(mat.$lime-palette, A200);
$warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  ),
  typography: mat.define-typography-config(
    $font-family: 'Inter, Roboto, "Helvetica Neue", Arial, sans-serif',
    $headline-5: mat.define-typography-level(22px, 28px, 700),
    $subtitle-1: mat.define-typography-level(14px, 20px, 600),
    $body-1: mat.define-typography-level(14px, 20px, 400)
  )
));

@include mat.all-component-themes($theme);
